.App {
  min-height: 100vh;
  background-color: #f7f7f7;
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.footer {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  color: #f7f7f7;
}

ul {
  list-style: none;
  padding: 0;
}

ul li a {
  color: #f7f7f7;
}